.cell { display: none; }

@media (max-width: 768px) {
  .pc { display: none; }
  .cell { display: block; }
}


.Cabesa {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin: 0;
  height: 15px; /* exemplo de altura do header */
}

.Cabesa2 {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin: 0;
  height: 15px; /* exemplo de altura do header */
  gap: 20px;
}


body {
    color: #cccccc;
    background-color: #121212;
    margin: 16px;
}

.sessao {
    padding-top: 20px;
}

.sessao2 {
    padding-top: 20px;
}

.prgf {
    padding-bottom: 2%;
}

.prgf2 {
    padding-bottom: 2%;
}

.link {
  color: #cccccc;
  text-decoration:underline;
}

.link2 {
  color: #cccccc;
  text-decoration:underline;
}